@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow: hidden;
}

hr{
    border-top: 1px dashed gray;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidescroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.hidescroll{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }